*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif,'josefin Sans';
}

body{
  color: #000000;
  height:100vh;
  background-color: #000;
  background-image: url("https://images.unsplash.com/photo-1555581064-8ce820e50679?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
}



li{
  list-style: none;
  .fa-solid,
  .fa-regular,
  .fas {
    font-size: 20px;
    color: #000; 
    margin-right: 5px;
  }
}
a{
  text-decoration:none;
  color: #fff;
  font: 1rem;
}

a:hover{
  color: blue;
}

/* Header */
header{
  position: relative;
  padding: 0 2rem;
  background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: rgb(12, 224, 224);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  transition:.3s ease all;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: bold;
  cursor: pointer;
}

.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action-btn{
  background-color: aqua;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  transition:.3s ease all;
  font-size: 0.8rem;
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action-btn:hover{
  scale: 1.05;
  color: #ffff;
}

.action-btn:active{
  scale: 0.95;
}

/*DROPDOWN */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(213, 203, 203, 0.257);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1,274);
}

.dropdown_menu.open{
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action-btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive Design */
@media screen and (max-width :768px){
  .navbar .links,
  .navbar .action-btn{
      display: none;
  }
  .navbar .toggle_btn{
      display: block;
  }
  .dropdown_menu{
      display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu{
      left: 2rem;
      width: unset;

  }
}

/*Hero*/
#hero {
  background-image: url('https://unsplash.com/photos/SXGVliZGS7I');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 5px;
}

.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ff5e3a;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.cta-button:hover {
  background-color: #d63a19;
}

/*About*/
.about{
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;
}
.about img{
  height: auto;
  width: 420px;
  border-radius: 30px;

}
.about-text{
  width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1,h2{
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
span{
  color: red;
}
.about-text p{
  color: #fcfcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button::hover{
  background-color: #6f0000;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .about img {
    margin-bottom: 30px;
  }

  .about-text {
    max-width: 100%;
  }

  .about-text h1 {
    font-size: 36px;
  }

  .about-text h5 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .about-text p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

  /* Team Section Styles */
  .team {
    padding: 80px 0;
    text-align: center;
    background-color: #191919;
  }
  
  .team h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    color: white;
  }
  
  .team-member {
    margin-bottom: 40px;
    color: whitesmoke;
  }
  
  .team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .team-member h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .team-member p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .social-links a {
    font-size: 24px;
    margin-right: 10px;
    color: #07deff;
    text-decoration: none;
  }
   /* New styles for reviews */
    .review-card {
      background-color: #333131;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 50px;
    }

    .review-card h4 {
      margin-top: 0;
      color: blue;
    }

    .rating {
      margin-top: 10px;
    }

    .fa-star {
      color: #FFD700;
    }

    .checked {
      color: #FFD700;
    }
  

/* Footer Styles */
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

/*Contact Us */
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80);
  background-size: cover;
}

.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.contact .content p{
  font-weight: 300;
  color: #fff;
}
.containerr{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.containerr .contactInfo{
  width: 50%;
  display: flex;
  flex-direction:column;

}
.containerr .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;  
}
.containerr .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.containerr .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color:#fff;
  flex-direction: column;
  font-weight: 300;
}
.containerr .contactInfo .box .text h3{
  font-weight: 500;
  color: #00bcd4;
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{

  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox textarea:valid ~ span,
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="Submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}
@media (max-width: 767px) {
  .containerr {
    flex-direction: column;
  }

  .containerr .contactInfo {
    width: 100%;
    margin-bottom: 30px;
  }

  .contactForm {
    width: 100%;
  }
}